*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
body{
    min-height: 100vh;
    overflow-x: hidden;

}

.search{
position: fixed;
top: 0;
left: 0;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
border-bottom:1px solid rgba(0, 0, 0, 0.3) ;
z-index: 1;
background: white;
}

input {
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
}
.searchbutton {

    padding: 0.5rem 3rem;
    margin-left: 10px;
    background: blue;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}
.next{
    position: fixed;
    top: 90%;
    right: 0%;
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.gallery{
    width: 90%;
    margin: 12vh 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5,200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    /* border: black solid 1px; */
}
.gallery div{
    position: relative;

}

img{
    margin-left: 95px;
    height: 300px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}